<!-- ======= Footer Section/Seção de Rodapé ======= -->
<section class="footer">
	<div class="box-container">
		<div class="box">
			<h3>Links Rápidos</h3>
			<a href="#">Home</a>
			<a href="#">Sobre</a>
			<a href="#">Produtos</a>
			<a href="#">Review</a>
			<a href="#">Contato</a>
		</div>
		<div class="box">
			<h3>Links extras</h3>
			<a href="#">Minha conta</a>
			<a href="#">Meu pedido</a>
			<a href="#">Meu favorito</a>
		</div>
		<div class="box">
			<h3>Localizações</h3>
			<a href="#">Brasil</a>
			<a href="#">USA</a>
			<a href="#">Japão</a>
			<a href="#">França</a>
		</div>
		<div class="box">
			<h3>Informações de contato</h3>
			<a href="#">+55 (92) 991221-5202</a>
			<a href="#">danieloliveira.webmaster@gmail.com</a>
			<a href="#">Manaus, Brasil - 69090-380</a>
			<img src="img/payment.png" alt="">
		</div>
	</div>
	<div class="credit">Criado por <span>Daniel Oliveira </span> | Todos os direitos reservados</div>
</section>

