<!-- ======= Icons Section/Seção de Ícones ======= -->
<section class="icons-container">
	<div class="icons">
		<img src="img/icon-1.png" alt="">
		<div class="info">
			<h3>Entrega grátis</h3>
			<span>Em todos os pedidos</span>
		</div>
	</div>

	<div class="icons">
		<img src="img/icon-2.png" alt="">
		<div class="info">
			<h3>Devolução de 10 dias</h3>
			<span>Garantia de devolução de dinheiro</span>
		</div>
	</div>

	<div class="icons">
		<img src="img/icon-3.png" alt="">
		<div class="info">
			<h3>Oferta & presentes</h3>
			<span>Em todos os pedidos</span>
		</div>
	</div>

	<div class="icons">
		<img src="img/icon-4.png" alt="">
		<div class="info">
			<h3>Pagamentos seguros</h3>
			<span>Protegido por paypal</span>
		</div>
	</div>
</section>
