<!-- ======= About Section/Seção Sobre ======= -->
<section class="about" id="about">
	<h1 class="heading"> <span>Sobre </span>Nós</h1>
	<div class="row">
		<div class="video-container">
			<video src="../../assets/about-vid.mp4" loop autoplay muted></video>
			<h3>Os melhores vendedores de flores</h3>
		</div>
		<div class="content">
			<h3>Porque escolher-nos</h3>
			<p>Si num tem leite então bota uma pinga aí cumpadi! Quem manda na minha terra sou euzis! Quem num gosta di mim que vai caçá sua turmis! Casamentiss faiz malandris se pirulitá.</p>
			<p>Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Manduma pindureta quium dia nois.</p>
			<a href="#" class="btn">Saber mais</a>
		</div>
	</div>
</section>
