<!-- ======= Contact Section/Seção de Contato ======= -->
<section class="contact" id="contact">
	<h1 class="heading"><span>Contate</span>-Nos</h1>
	<div class="row">
		<form action="">
			<input type="text" placeholder="Nome" class="box">
			<input type="email" placeholder="E-mail" class="box">
			<input type="number" placeholder="Número" class="box">
			<textarea name="" id="" cols="30" rows="10" class="box" placeholder="Mensagem"></textarea>
			<input type="submit" value="Enviar Mensagem" class="btn">
		</form>
		<div class="image">
			<img src="../../assets/contact-img.svg" alt="">
		</div>
	</div>
</section>
