<!-- ======= Review Section/Seção de Review ======= -->
<section class="review" id="review">
	<h1 class="heading"><span>Avaliação</span> do cliente</h1>
	<div class="box-container">
		<div class="box">
			<div class="stars">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
			</div>
			<p>Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Quem manda na minha terra sou euzis! Paisis, filhis, espiritis santis. Mauris nec dolor in eros commodo tempor. Aenean aliquam.</p>
			<div class="user">
				<img src="../../assets/pic-1.png" alt="">
				<div class="user-info">
					<h3>Thiago Souza</h3>
					<span>Cliente feliz</span>
				</div>
			</div>
			<span class="fas fa-quote-right"></span>
		</div>
		<div class="box">
			<div class="stars">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
			</div>
			<p>Leite de capivaris, leite de mula manquis sem cabeça. Si num tem leite então bota uma pinga aí cumpadi! Quem num gosta di mé, boa gentis num é. In elementis mé pra quem é amistosis quis leo.</p>
			<div class="user">
				<img src="../../assets/pic-2.png" alt="">
				<div class="user-info">
					<h3>Priscila Andrade</h3>
					<span>Cliente feliz</span>
				</div>
			</div>
			<span class="fas fa-quote-right"></span>
		</div>
		<div class="box">
			<div class="stars">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
			</div>
			<p>Pra lá, depois divoltis porris, paradis. Quem num gosta di mim que vai caçá sua turmis! Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Suco de cevadiss deixa as pessoas.</p>
			<div class="user">
				<img src="../../assets/pic-3.png" alt="">
				<div class="user-info">
					<h3>Daniel Oliveira</h3>
					<span>Cliente feliz</span>
				</div>
			</div>
			<span class="fas fa-quote-right"></span>
		</div>
	</div>
</section>
