<!-- ======= Products Section/Seção de Produtos ======= -->
<section class="products" id="products">
	<h1 class="heading"> <span>Produtos</span> Mais recentes</h1>
	<div class="box-container">
		<div class="box">
			<span class="discount">-10%</span>
			<div class="image">
				<img src="../../assets/img-1.jpg" alt="">
				<div class="icons">
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="cart-btn">Adicionar ao carrinho</a>
					<a href="#" class="fas fa-share"></a>
				</div>
			</div>
			<div class="content">
				<h3>Vaso de flores</h3>
				<div class="price"> $12.99 <span>$15.99</span> </div>
			</div>
		</div>
		<div class="box">
			<span class="discount">-10%</span>
			<div class="image">
				<img src="../../assets/img-2.jpg" alt="">
				<div class="icons">
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="cart-btn">Adicionar ao carrinho</a>
					<a href="#" class="fas fa-share"></a>
				</div>
			</div>
			<div class="content">
				<h3>Vaso de flores</h3>
				<div class="price"> $12.99 <span>$15.99</span> </div>
			</div>
		</div>
		<div class="box">
			<span class="discount">-10%</span>
			<div class="image">
				<img src="../../assets/img-3.jpg" alt="">
				<div class="icons">
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="cart-btn">Adicionar ao carrinho</a>
					<a href="#" class="fas fa-share"></a>
				</div>
			</div>
			<div class="content">
				<h3>Vaso de flores</h3>
				<div class="price"> $12.99 <span>$15.99</span> </div>
			</div>
		</div>
		<div class="box">
			<span class="discount">-10%</span>
			<div class="image">
				<img src="../../assets/img-4.jpg" alt="">
				<div class="icons">
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="cart-btn">Adicionar ao carrinho</a>
					<a href="#" class="fas fa-share"></a>
				</div>
			</div>
			<div class="content">
				<h3>Vaso de flores</h3>
				<div class="price"> $12.99 <span>$15.99</span> </div>
			</div>
		</div>
		<div class="box">
			<span class="discount">-10%</span>
			<div class="image">
				<img src="../../assets/img-5.jpg" alt="">
				<div class="icons">
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="cart-btn">Adicionar ao carrinho</a>
					<a href="#" class="fas fa-share"></a>
				</div>
			</div>
			<div class="content">
				<h3>Vaso de flores</h3>
				<div class="price"> $12.99 <span>$15.99</span> </div>
			</div>
		</div>
		<div class="box">
			<span class="discount">-10%</span>
			<div class="image">
				<img src="../../assets/img-6.jpg" alt="">
				<div class="icons">
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="cart-btn">Adicionar ao carrinho</a>
					<a href="#" class="fas fa-share"></a>
				</div>
			</div>
			<div class="content">
				<h3>Vaso de flores</h3>
				<div class="price"> $12.99 <span>$15.99</span> </div>
			</div>
		</div>
		<div class="box">
			<span class="discount">-10%</span>
			<div class="image">
				<img src="../../assets/img-7.jpg" alt="">
				<div class="icons">
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="cart-btn">Adicionar ao carrinho</a>
					<a href="#" class="fas fa-share"></a>
				</div>
			</div>
			<div class="content">
				<h3>Vaso de flores</h3>
				<div class="price"> $12.99 <span>$15.99</span> </div>
			</div>
		</div>
		<div class="box">
			<span class="discount">-10%</span>
			<div class="image">
				<img src="../../assets/img-8.jpg" alt="">
				<div class="icons">
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="cart-btn">Adicionar ao carrinho</a>
					<a href="#" class="fas fa-share"></a>
				</div>
			</div>
			<div class="content">
				<h3>Vaso de flores</h3>
				<div class="price"> $12.99 <span>$15.99</span> </div>
			</div>
		</div>
		<div class="box">
			<span class="discount">-10%</span>
			<div class="image">
				<img src="../../assets/img-9.jpg" alt="">
				<div class="icons">
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="cart-btn">Adicionar ao carrinho</a>
					<a href="#" class="fas fa-share"></a>
				</div>
			</div>
			<div class="content">
				<h3>Vaso de flores</h3>
				<div class="price"> $12.99 <span>$15.99</span> </div>
			</div>
		</div>
	</div>
</section>
